
html{
   -ms-text-size-adjust:100%;
   -webkit-text-size-adjust:100%
}

body{
   background-image: url('background.jpg');
   margin:0;
}
}
div {
   overflow: scroll;
   height: auto;
   width: auto;
}

p {
   font-size: 22px;
}
.banner {
   position: auto;
   top: 0;
   left: 0;
}
 
.topnav {
  overflow: auto;
  
}

.topnav a {
  float: center;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


   
 .overlay {
    position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.h2{
position: fixed;
  height: auto;
   width: auto;

}
.h3{
position: fixed;
  height: auto;
   width: auto;

}
.h4{
position: fixed;
  height: auto;
   width: auto;

}

h1 {
   color: rgb(255,255,255);
   text-align:center;
   font-family: "Helvetica", sans-serif;"
      }

.homepage {
  background: rgba(192,192,192,0.3);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
