html, body {
   margin: 0;
   font-family: Arial;
   font-size: 18px;
}

.banner {
   position: auto;
   top: 0;
   left: 0;
}
 
.topnav {
  overflow: auto;
  background-color: rgba(255, 255, 255, .4);
  background-size: auto;
}

.topnav a {
  float: center;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


#myVideo {
 position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
   }
   
 .overlay {
    position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
  

h1 {
   color: rgb(255,255,255);
   text-align:center;
   font-family: "Helvetica", sans-serif;"
      }
